.venv
Articles
Datasets
Processed_Datasets
*.zip
Stuff

FYP/main.aux
FYP/main.bbl
FYP/main.bcf
FYP/main.blg
FYP/main.fdb_latexmk
FYP/main.fls
FYP/main.log
FYP/main.out
FYP/main.run.xml
FYP/main.synctex.gz
Code/dataset_processing/preprocessed_datasets
Code/dataset_processing/processed_datasets