.venv
.venv3-13
Articles
Datasets
Processed_Datasets
*.zip
Stuff
*.csv
dolma_300_2024_1.2M.100_combined.txt
*.txt
result_extraction_scripts
compilation.sh
texput.log

Report/main.bbl-SAVE-ERROR
Report/main.aux
Report/main.bbl
Report/main.bcf
Report/main.blg
Report/main.fdb_latexmk
Report/main.fls
Report/main.log
Report/main.out
Report/main.lof
Report/main.lot
Report/main.toc
Report/MyBib.bib.backup
test.bib
test.bib.blg
Report/main.run.xml
Report/main.synctex.gz
Code/dataset_processing/preprocessed_datasets
Code/dataset_processing/processed_datasets

Report/Meeting_Logs_FYP1_T2530.pdf
signature.png